.container-type-product-page{
    background-color:  #9C836B;
    /* background: #efefef; */
    /* height: 2000px; */
    display: flex;
    justify-content: center;

}
/* .wrapper-type-product-page{

} */
.card-type{
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
    height: fit-content;
}
.wrapper-type-card-component{
    margin: 10px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
}
.type-product-pagination{
    text-align:center;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}