.search {
    display: flex;
}

.search-input {
    width: 80%;
    margin-right: 3px;
    margin-top: 5px;
    caret-color: rgba(254, 44, 85, 1);
    &::hover {
        border: 1px solid black;
    }
}

.search-button {
    width: 10%;
    padding: 5px;
}