.search {
    display: flex;
    
}

.search-input {
    width: 90%;
    margin: 5px 3px;
    caret-color: rgba(254, 44, 85, 1);
    &::hover {
        border: 1px solid black;
    }
}

.search-button {
    width: 20%; 
    margin: 5px 3px;
}