.wrapper-logo-product-homepage {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: flex-start;
    height: 44px;
    justify-content: center;
    margin-top: 60px;
}
.container-homepage {
    height: 2000px;
    padding-top: 30px ;
    background-color:#9C836B;
    
}
pg-img {
  position: relative;
  background-size: cover; /* Hiển thị ảnh nền sao cho phủ toàn bộ phần tử */
  background-repeat: no-repeat; /* Ngăn lặp lại ảnh nền */
}

.wrapper-container-homepage {
  position: relative;
  padding-left: 424px;
  padding-top: 70px;
  padding-right: 200px; /* Thêm thuộc tính position: relative; */
}

.wrapper-card-component {
  padding: 20px; /* Thay đổi padding để tạo khoảng cách giữa các sản phẩm */
  display: flex;
  align-items: flex-start; /* Đảm bảo các sản phẩm sẽ xuất hiện từ đầu trang */
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%; /* Giới hạn chiều rộng tối đa của wrapper */
  box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước thêm */
}
.button-component{
    margin: 20px;
    /* margin-left: 120px; */
    width: 240px;
    height: 38px;
    border-radius: 4px;
    
}
.wrapper-button-component{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}